<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<orient-server>
    <network>
        <protocols>
            <protocol name="binary" implementation="com.orientechnologies.orient.server.network.protocol.binary.ONetworkProtocolBinary"/>
            <protocol name="http" implementation="com.orientechnologies.orient.server.network.protocol.http.ONetworkProtocolHttpDb"/>
        </protocols>
        <listeners>
            <listener ip-address="127.0.0.1" port-range="2424-2430" protocol="binary"/>
            <listener ip-address="127.0.0.1" port-range="2480-2490" protocol="http">
                <commands>
                    <command pattern="GET|www GET|studio/ GET| GET|*.htm GET|*.html GET|*.xml GET|*.jpeg GET|*.jpg GET|*.png GET|*.gif GET|*.js GET|*.css GET|*.swf GET|*.ico GET|*.txt" implementation="com.orientechnologies.orient.server.network.protocol.http.command.get.OServerCommandGetStaticContent">
                        <parameters>
                            <entry name="http.cache:*.htm *.html" value="Cache-Control: no-cache, no-store, max-age=0, must-revalidate\r\nPragma: no-cache"/>
                            <entry name="http.cache:default" value="Cache-Control: max-age=120"/>
                        </parameters>
                    </command>
                </commands>
                <parameters>
                    <parameter name="network.http.charset" value="utf-8"/>
                </parameters>
            </listener>
        </listeners>
    </network>
    <storages>
<!--    
        <storage name="temp" path="memory:temp" userName="admin" userPassword="admin" loaded-at-startup="true"/>
-->        
    </storages>
    <users>
        <user name="admin" password="080DCF8D0F27603E8B52CED8F7EE3421671F81FCF6095F17F6488FF5416ED24E" resources="*"/>
        <user name="root" password="0838651A11313461A899F416E88302A37043419D0C404EE7657D5F1C54866A4F" resources="*"/>
        <user name="guest" password="guest" resources="connect,server.listDatabases"/>
    </users>
    <properties>
        <entry name="cache.level1.size" value ="512"/>
        <entry name="cache.level2.size" value ="512"/>
        <entry name="log.level" value="info"/>
        <entry name="index.auto.rebuildAfterNotSoftClose" value="true"/>        
    </properties>
</orient-server>
